.account-page {
  header {
    padding-bottom: 36px;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    .nav {
      margin-top: 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        a {
          color: var(--Text-Tittle, #1c3554);
          /* Paragraph/Semibold/Body - 16px */
          font-family: "Montserrat SemiBold";
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
          text-decoration: none;
        }
      }
      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          position: relative;
          right: 40px;
        }
        input {
          margin-left: 24px;
          outline: none;
          border-radius: 8px;
          border: 1px solid var(--Text-In-Field, #ccc);
          width: 443px;
          height: 48px;
          &::placeholder {
            color: var(--Text-Body, #808080);
            padding-left: 16px;
            /* Paragraph/Reguler/caption - 14px */
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
          }
        }
      }
      button {
        color: var(--Text-Tittle, #1c3554);
        /* Paragraph/Semibold/Body - 16px */
        font-family: "Montserrat SemiBold";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */
        display: inline-flex;
        padding: 8px 32px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid var(--Text-Tittle, #1c3554);
        margin-left: 24px;
        a {
          text-decoration: none;
          color: #1c3554;
        }
      }
    }
  }
  footer {
    .foot-sec {
      background-color: #021934;
      padding-top: 150px;
      .foot-part {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .part1 {
          img {
            padding-top: 80px;
          }
          p {
            color: var(--Text-white, #fff);
            /* Paragraph/Reguler/Body - 16px */
            font-family: Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px; /* 168.75% */
            padding-top: 36px;
          }
          .last {
            display: flex;
            gap: 40px;
            padding-top: 140px;
            padding-bottom: 40px;
          }
        }
        .part3 {
          padding-top: 80px;
          .cap-ong {
            display: flex;
            gap: 100px;
            h4 {
              color: var(--Text-white, #fff);
              font-variant-numeric: lining-nums proportional-nums;
              /* Heading/Reguler/H5 - 24px */
              font-family: Rubik;
              font-size: 24px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 133.333% */
              margin-bottom: 24px;
            }
            p {
              color: var(--Text-white, #fff);
              /* Paragraph/Semibold/Body - 16px */
              font-family: "Montserrat SemiBold";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 200% */
              margin-bottom: 8px;
            }
          }
          .plast {
            margin-top: 156px;
            p {
              color: var(--Text-white, #fff);
              text-align: right;
              /* Paragraph/Reguler/Body - 16px */
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 27px; /* 168.75% */
            }
          }
        }
        .part2 {
          padding-top: 80px;
          h4 {
            color: var(--Text-white, #fff);
            font-variant-numeric: lining-nums proportional-nums;
            /* Heading/Reguler/H5 - 24px */
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
            margin-bottom: 24px;
          }
          p {
            color: var(--Text-white, #fff);
            /* Paragraph/Semibold/Body - 16px */
            font-family: "Montserrat SemiBold";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 200% */
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}
